// Extra labels
//

.label, .badge {
	.border-radius(0);
}

// Colors
// Only give color difference to links (and to simplify, we don't qualifty with `a` but [href] attribute)
.label,
.badge {
	background-color: #e9e9e9;
	color: #505050;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
	font-weight: normal;

	&[href] { color: darken(@white, 10%); }
	
	&:hover {
	}

	// Important (red)
	&-important { 
		color: #fff;
		background-color: @importantBackground;
		border-color: darken(@importantBackground, 10%); 
	}

	&-important[href] { 
		color: #fff;
		background-color: darken(@importantBackground, 10%);
		border-color: darken(@importantBackground, 20%); 
	}
	// Warnings (orange)
	&-warning { 
		color: #fff;
		background-color: @errorBackground;
		border-color: darken(@errorBackground, 10%); 
	}
	&-warning[href] { 
		color: #fff;
		background-color: darken(@errorBackground, 10%);
		border-color: darken(@errorBackground, 20%); 
	}
	// Success (green)
	&-success { 
		color: #fff;
		background-color: @successBackground;
		border-color: darken(@successBackground, 10%); 
	}
	&-success[href] { 
		color: #fff;
		background-color: darken(@successBackground, 10%);
		border-color: darken(@successBackground, 20%); 
	}
	// Info (turquoise)
	&-info { 
		color: #fff;
		background-color: @infoBackground;
		border-color: darken(@infoBackground, 10%); 
	}
	&-info[href] { 
		color: #fff;
		background-color: darken(@infoBackground, 10%);
		border-color: darken(@infoBackground, 20%); 
	}
	// Inverse (black)
	&-inverse { 
		color: #fff;
		background-color: @inverseBackground;
		border-color: darken(@inverseBackground, 10%); 
		text-shadow: 0 0 1px #fff;
	}
	&-inverse[href] { 
		color: #fff;
		background-color: darken(@inverseBackground, 10%);
		border-color: darken(@inverseBackground, 20%); 
	}
}

.label-medium {
	padding: 6px 13px;
}

.label-large {
	padding: 4px 13px;
	font-weight: normal;
	font-size: 27px;
}

.label-round {
	.border-radius(1000px);
}

// Ring badges

@ringBadgeBorder: 2px;
@ringBadgeSize: 40px;
@ringBadgeIconSize: 30px;

.ring-badge {
	padding: 0;
	display: inline-block;
	.border-radius(999px);
	width: @ringBadgeSize;
	height: @ringBadgeSize;
	line-height: @ringBadgeSize;
	text-align: center;
	vertical-align: middle;
	position: relative;
	border: @ringBadgeBorder solid @grayDark;
	color: @grayDark;
	font-size: 20px;
	font-weight: bold;
	i {		
		font-size: @ringBadgeIconSize;
		position: absolute;
		width: @ringBadgeSize;
		left: 0;
		top: -1px;
		line-height: @ringBadgeSize;

		// Some icons dont align centered, so use offset
		&.offset { width: @ringBadgeIconSize; }
	}
}

// Colors
// Only give color difference to links (and to simplify, we don't qualifty with `a` but [href] attribute)
.ring-badge {
	// Important (red)
	&-important { color: @errorBackground; border-color: @errorBackground; }
	&-important[href] { color: darken(@errorBackground, 10%); border-color: darken(@errorBackground, 10%); }
	// Warnings (orange)
	&-warning { color: @orange; border-color: @orange; }
	&-warning[href] { color: darken(@orange, 10%); border-color: darken(@orange, 10%); }
	// Success (green)
	&-success { color: @successBackground; border-color: @successBackground; }
	&-success[href] { color: darken(@successBackground, 10%); border-color: darken(@successBackground, 10%); }
	// Info (turquoise)
	&-info { color: @infoBackground; border-color: @infoBackground; }
	&-info[href] { color: darken(@infoBackground, 10%); border-color: darken(@infoBackground, 10%); }
	// Inverse (black)
	&-inverse { color: @grayDark; border-color: @grayDark; }
	&-inverse[href] { color: darken(@grayDark, 10%); border-color: darken(@grayDark, 10%); }
}

label.required:after {
	content: ' *';
	color: #3373A9;
	font-weight: bold;
}