// Extra labels
//

@ringBadgeBorder: 2px;
@ringBadgeSize: 40px;
@ringBadgeIconSize: 32px;

.ring-badge {
	padding: 0;
	display: inline-block;
	.border-radius(999px);
	width: @ringBadgeSize;
	height: @ringBadgeSize;
	line-height: @ringBadgeSize;
	text-align: center;
	vertical-align: middle;
	position: relative;
	border: @ringBadgeBorder solid @grayDark;
	color: @grayDark;
	font-size: 20px;
	font-weight: bold;
	i { 
		font-size: @ringBadgeIconSize; 
		position: absolute;
		width: @ringBadgeSize;
		left: 0;  
		top: @ringBadgeBorder;
		line-height: @ringBadgeSize;

		// Some icons dont align centered, so use offset
		&.offset { width: @ringBadgeIconSize; }
	}
}

// Colors
// Only give color difference to links (and to simplify, we don't qualifty with `a` but [href] attribute)
.label,
.badge {
	// Important (red)
	&-important { 
		background-color: @importantBackground;
		color: @importantText; 
		border-color: darken(@importantBackground, 10%); 
	}

	&-important[href] { 
		background-color: darken(@importantBackground, 10%);
		color: darken(@importantText, 10%); 
		border-color: darken(@importantBackground, 20%); 
	}
	// Warnings (orange)
	&-warning { 
		background-color: @errorBackground;
		color: @errorText; 
		border-color: darken(@errorBackground, 10%); 
	}
	&-warning[href] { 
		background-color: darken(@errorBackground, 10%);
		color: darken(@errorText, 10%); 
		border-color: darken(@errorBackground, 20%); 
	}
	// Success (green)
	&-success { 
		background-color: @successBackground;
		color: @successText; 
		border-color: darken(@successBackground, 10%); 
	}
	&-success[href] { 
		background-color: darken(@successBackground, 10%);
		color: darken(@successText, 10%); 
		border-color: darken(@successBackground, 20%); 
	}
	// Info (turquoise)
	&-info { 
		background-color: @infoBackground;
		color: @infoText; 
		border-color: darken(@infoBackground, 10%); 
	}
	&-info[href] { 
		background-color: darken(@infoBackground, 10%);
		color: darken(@infoText, 10%); 
		border-color: darken(@infoBackground, 20%); 
	}
	// Inverse (black)
	&-inverse { 
		background-color: @inverseBackground;
		color: @inverseText; 
		border-color: darken(@inverseBackground, 10%); 
		text-shadow: 0 0 1px #fff;
	}
	&-inverse[href] { 
		background-color: darken(@inverseBackground, 10%);
		color: darken(@inverseText, 10%); 
		border-color: darken(@inverseBackground, 20%); 
	}
}

.ring-badge {
	.badge;
}

.label-medium {
	padding: 6px 13px;
}

.label-large {
	padding: 4px 13px;
	font-weight: normal;
	font-size: 27px;
}

.label-round {
	.border-radius(1000px);
}
