//
// Mixins
// --------------------------------------------------


// CSS3 PROPERTIES
// --------------------------------------------------

// NO Border Radius
.no-border-radius {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

// NO Drop shadows
.no-box-shadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.text-shadow(@shadow) {
	text-shadow: @shadow;
}

.ms-font-size(@size: 1) {
	font-size: ~"@{size}px";
}

.no-background-image {
	background-image: none;
}


// Triangles
// --------------------------------------------------

.triangle-base() {
    content: '';
    display: block;
    width: 0;
    height: 0;
}
.triangle(@direction, @size, @color) when (@direction = up) {
    .triangle-base();
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-bottom: @size solid @color;
}
.triangle(@direction, @size, @color) when (@direction = down) {
    .triangle-base();
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-top: @size solid @color;
}
.triangle(@direction, @size, @color) when (@direction = left) {
    .triangle-base();
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-right: @size solid @color;
}
.triangle(@direction, @size, @color) when (@direction = right) {
    .triangle-base();
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-left: @size solid @color;
}