
/*-----------------------------------------------------------------------------------*/
/*  1.  Global properties (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/

a:focus,
body:focus,
div:focus,
button:focus,
textarea:focus,
select:focus,
input:focus {outline: 0 !important;}
button:focus {outline: none;}
button::-moz-focus-inner {border: 0;}

/* icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
    width: 16px; text-align: center;
}

/* Link Colors */
/*-----------------------------------------------------------------------------------*/
a, a:hover { text-decoration: none;}

.container { position: relative; }
@media (max-width: 767px) {
    .container { padding-left: @gridGutterWidth; padding-right: @gridGutterWidth; }
}

/* Google maps */
/*-----------------------------------------------------------------------------------*/
.gmap {
    max-width: 100%;
    line-height: 0;
    margin-bottom: 20px;
}

/* Video container */
/*-----------------------------------------------------------------------------------*/
.video,
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video iframe,
.video-container iframe,
.video object,
.video-container object,
.video embed,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Accordion */
/*-----------------------------------------------------------------------------------*/
.accordion-heading {background-color: #5195CE;}
.accordion-heading:hover {background-color: #005DB3;}
.accordion-toggle, .accordion-toggle:hover {color: #FFFFFF;}
.accordion-group {background-color: #E9E9E9; border: 0;}

/* Testimonials */
/*-----------------------------------------------------------------------------------*/
.testimonials p {margin-left: 70px}
.testimonials h4 {margin-left: 70px;}
.testimonials img {
    float: left;
    margin-bottom: 10px;
}
.testimonials small {
    display: block;
    font-size: 11px;
    letter-spacing: 0;
}

/* Font Awesome Icons List */
/*-----------------------------------------------------------------------------------*/
.the-icons {list-style-type: none; margin-left: 0;}
.the-icons li [class^="icon-"],
.the-icons li [class*=" icon-"] {
    width: 16px; font-size: 16px;
}

/* Hero unit */
/*-----------------------------------------------------------------------------------*/
.hero-unit {}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {
    .hero-unit {padding: 40px;}
    .hero-unit h1 {}
}

@media (max-width: 480px) {
    .hero-unit {padding: 10px; font-size: 14px; line-height: 1.5;}
    .hero-unit h1 {font-size: 22px; line-height: 1.5;}
}

div.spacer {height: 50px;}
hr {
    margin: 25px 0;
    border-top: 3px solid #D6D3D1;
    border-bottom: none;
}

blockquote {border-color: #005DB3;}
blockquote p {font-size: 13px; font-style: italic; line-height: 1.5;}


/* reset bootstrap radius */
/*-----------------------------------------------------------------------------------*/

code, pre,
.label, .badge,

.table-bordered,
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child,
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child,
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child,
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child,
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child,
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child,

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child,
.input-append input,
.input-append select,
.input-append .uneditable-input,
.input-append input + .btn-group .btn,
.input-append select + .btn-group .btn,
.input-append .uneditable-input + .btn-group .btn,
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn,
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child,
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child,

input.search-query,
.form-search .input-append .search-query,
.form-search .input-append .btn,
.form-search .input-prepend .search-query,
.form-search .input-prepend .btn,

.btn,
.btn-large,
.btn-small,
.btn-mini,
.btn-group > .btn:first-child,
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle,
.btn-group > .btn.large:first-child,
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle,
.btn-group-vertical .btn:first-child,
.btn-group-vertical .btn:last-child,
.btn-group-vertical .btn-large:first-child,
.btn-group-vertical .btn-large:last-child,

.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a,
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,

.tabs-below > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a,

.navbar-inner,
.navbar-search .search-query,
.navbar .btn-navbar .icon-bar,
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu,

.breadcrumb,

.pagination ul,
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span,
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span,
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span,
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span,
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span,
.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span,

.pager li > a,
.pager li > span,

.alert,
.progress,
.hero-unit,
.tooltip-inner,
.popover,
.popover-title,
.modal,
.modal-footer,

.dropdown-menu,
.dropdown-submenu > .dropdown-menu,
.dropup .dropdown-submenu > .dropdown-menu,
.dropdown-submenu.pull-left > .dropdown-menu,

.typeahead,
.accordion-group,
.carousel-control,

.well,
.well-large,
.well-small,

.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a,
.nav-collapse .btn,
.nav-collapse .dropdown-menu,

.border-radius-off {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
