//
// Body text
// -------------------------

.lead {
	font-size: @baseFontSize * 1.2;	
}

//
// Headers/Titles
// --------------------------------------------------

h6 {
	text-transform: uppercase;
	color: @quietColor;
	font-weight: bold;
}

//
// Link Colors 
//-----------------------------------------------------------------------------------
a, a:hover { text-decoration: none; }
